
canvas{
    position: absolute;
    /*border: solid 1px;*/
}
#ventilator{
    left: 53px;
    top: 180px;
}
#propeller{

}
.wrapper{
    width:100%;
    height:420px;
    border: solid 1px;
}
.l-div{
    float: left;
}
.r-div{
    float: left;
    position: absolute;
    left: 300px;
    top: 70px;
}
.text{
    color: grey;
    font-size: 10px;
    text-align: center;
}

.slider{
    width: 30px;
}

.stolb{
    width: 5px;
    height: 260px;
    background-color: #E9E9E9;
    position: relative;
    left:12px;
}

.polzunok{
    width: 30px;
    height: 15px;
    background-color: black;
    position:absolute;
    top:250px;
    cursor: pointer;
}

